/* .box{
    background-color: red;
    padding: 10px;
}

.box2 {
    font-size: 60px;
    text-decoration: underline;
}
*/

/*
.light {
    background-color: white;
    color: black;
}
*/


.dark {
    background-color: black;
    color: white
}