*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: chartreuse;
}

html , body {
    height: 100%;
    width: 100%;
}


.grand-parent{
    padding: 100px;
    background-color: #000;
}

.parent{
    padding: 70px;
    background-color: brown;
}

.child{
    padding: 40px;
    background-color: blueviolet;
}